# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.*~
#examples outputs
*.mkv
*.jpeg

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories 
vendor/

#working and build  directories 
examples/camui/out
examples/videorecui/out
.settings/
plugins-base/goplugin/_build
plugins-base/videofilter/_build/


#examples'  exe files
examples/camui/camui
examples/videorecui/videorec
examples/videorecui/videorecui
examples/plugin/line/line
examples/gtktsink/gtktsink
examples/plugin/sobel/sobel
examples/noise/noise

go.sum

#projects
.project
gst.sublime-project
gst.sublime-workspace

